# see https://pre-commit.com/
repos:
  # see https://github.com/astral-sh/ruff-pre-commit
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
